* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 20px;
    color: #656565;
    display: flex;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}